* {
  margin: 0;
}
.bolding {
  font-weight: bolder;
}

.container {
  text-align: left;
  margin: 5%;
  flex-basis: 25em;
  margin-bottom: 2%;
}

.container div {
  margin-bottom: 5px;
}

.desc {
  font-size: 1em;
}

.time {
  font-size: 1.1em;
}

.title {
  font-size: 1.4em;
  font-weight: bold;
}

.topic {
  font-size: 1.2em;
}

.prereqs {
}

.github {
}
