* {
		background-color: #ffffff;
		margin: 0;
		padding: 0;
}

.boxbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: #303b53;
    font-family: "Cabin";
    margin: 2%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.sectionbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    font-family: "Cabin";
    margin: 2%;
    margin-top: 3%;
    margin-bottom: 0%;
}

.logoBox {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 5%;
    height: 250px;
    width: 100%;
}

.logo {
    color: #303b53;
    width: 50%;
}

.header {
    color: #303b53;
    width: 50%;
}

.headerBox {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 5%;
    height: 75px;
    width: 100%;
}

.buttonBox {
    display: flex;
    justify-content: center;
    margin: 0;
    height: 75px;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;
}
.hola {
    background-color: hsl(228, 53%, 34%);
    border-color: rgb(41, 59, 133);
    color: rgb(41, 60, 133);
}
.backbut {
		color: #303b53;
    font-weight: 500;
    user-select: none;
    padding: 0.5em 2em;
    border-width: 3px;
    border-style: solid;
    border-color: #303b53;
		border-image: initial;
    border-radius: 6px;
    background: none;
    transition: all 0.25s linear 0s;
    text-decoration: none;
    margin: 1em auto;
    outline: none;
}

.backbut:hover,
.backbut:focus {
    background-color: #35425f;
		color: white;
    cursor: pointer;
}

.backbut:-moz-focus-inner {
    border: 0;
}
