.boxbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: #293c85;
    font-family: "Cabin";
    margin-top: 0%;
    margin-bottom: 3%;
}

.logoBox {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 5%;
    height: 250px;
    width: 100%;
}

.logo {
    color: #293c85;
    width: 50%;
}
